body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3  {
  font-size: 23px;
  font-weight: bold;
}
a {
  color: white;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
ul li {
  font-size: 18px;
}
#designed h2 {
  font-size: 23px;
  color: white;
}
#header,
#designed h2 {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  background-position: center;
}
#footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}
.copyright {
  font-size: 11px;
}
