html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #414141;
}
body p {
  color: #767676;
}

/* === Global classes ==*/
.container {
  max-width: 1028px;
  margin: auto;
}
.flex {
  display: flex;
}

/* === Fonts === */
h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.2;
}
h3 {
  font-size: 1.2em;
  font-weight: 400;
}
p {
  font-size: 0.90em;
  font-weight: 300;
}

/* ============== */
/* === Header === */
/* ============== */

/* Navigation */
nav {
  align-items: center;
  color: #212121;
  display: flex;
  padding: .5rem 0;
  justify-content: space-between;
}
nav span {
  text-transform: uppercase;
}
nav div {
  display: flex;
  align-items: center;
}
nav img {
  height: 2.4rem;
  margin-left: 1rem;
  margin-right: .1rem;
}
nav ul {
  margin-right: 1rem;
}
nav li {
  display: inline;
  padding: .5rem;
}
nav a {
  color: #212121;
  text-decoration: none;
  font-weight: 300;
  font-size: .88em;
}
.truncated-menu {
  display: none;
}
.colmar {
  font-weight: bold;
}
.academy {
  font-weight: 300;
  color: #999999;
}

/* =============== */
/* === CONTENT === */
/* =============== */

/* === Banner === */
.main-banner h1 {
  padding-bottom: 18px;
}
.main-banner h3 {
  padding-bottom: 5px;
}
.main-banner {
  background-color: #d3d2d3;
}
.main-banner .image {
  width: 60%;
  padding: 32px 24px;
}
.main-banner .image img {
  width: 100%;
}
.main-banner .text {
  margin: 6em 0 0 1em;
  width: 70%;
}
.main-banner .text a {
  background-color: #414141;
  color: white;
  display: block;
  font-weight: 300;
  font-size: 1em;
  margin-top: 20px;
  padding: 8px 0;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
/* === Information === */
.information .supporting {
  width: 60%;
  padding: 32px 24px;
}
.information .supporting img {
  width: 100%;
}
.information .posts {
  flex-direction: column;
  padding-top: 16px;
  width: 40%;
}
.information .posts img {
  position: relative;
  width: 35%;
  height: 100%;
}
.orientation-mobile,
.campus-mobile,
.lecture-mobile {
  display: none; /* hide mobile images */
}
.information .post {
  padding: 16px;
}
.information .text {
  width: 65%;
  padding-left: 15px;
}
.information h2 {
  padding: 16px 0;
}
.information .supporting p {
  padding-bottom: 16px;
  line-height: 1.5;
}
.information p {
  padding: 6px 0;
}
.information h3 {
  padding-top: 16px;
}
.information a {
  color: inherit;
  text-decoration: none;
  font-size: .875em;
}
.information a.read-more {
  color: #30a9e4;
}
.information .post:nth-child(3n+0) {
  background-color: #d3d2d3; /* add a bg colour to the third post */
}
/* === Start learning === */
.learning {
  background-color: #e7e8e9;
  padding-bottom: 16px;
}
.learning h1 {
  text-align: center;
  padding: 32px 0;
}
.courses {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 72px 0 72px;
}
.course {
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.course img {
  width: 100%;
}
.course .text {
  background-color: white;
  padding: 20px;
  margin-bottom: 32px;
  height: 130px;
}
.course h3 {
  padding-bottom: 10px;
}
.course p {
  padding-bottom: 10px;
}
.course a {
  text-decoration: none;
  color: inherit;
}
.course p:nth-child(2) {
  text-transform: uppercase;
}
/* === Thesis exhibit === */
.exhibit {
  padding-bottom: 32px;
}
.exhibit a {
  color: inherit;
  text-decoration: none;
}
.exhibit h1 {
  padding: 32px 0;
  text-align: center;
}
.exhibit .supporting {
  flex-direction: column;
  margin: 0px 24px;
  width: 60%;
}
.exhibit .supporting video {
  width: 100%;
}
.exhibit .posts {
  flex-direction: column;
  width: 40%;
}
.exhibit .post {
  padding: 16px;
}
.exhibit .post img {
  width: 35%;
  height: 100%;
}
.exhibit .post .text {
  width: 65%;
  padding-left: 16px;
}
.exhibit .post:nth-child(1) {
  background-color: #d3d2d3;
}
.exhibit p {
  padding-bottom: 16px;
  line-height: 1.5;
}
.exhibit .text p {
  padding: 8px 0;
}
.exhibit h3 {
  padding-top: 24px;
}
.exhibit .post h3 {
  padding-top: 16px;
}

/* ============== */
/* === Footer === */
/* ============== */
footer {
  border-top: 1px solid #e1e3e3;
  padding-bottom: 32px;
}
footer span,
footer a {
  font-size: .85em;
  color: #767676;
}
footer .links {
  float: right;
  padding-right: 20px;
}
footer .copyright {
  padding-left: 24px;
}
footer a {
  padding-right: 10px;
  text-decoration: none;
}
footer .text {
  margin-top: 8px;
}

/* ===================== */
/* === Media queries === */
/* ===================== */


@media only screen and (max-width: 766px) {
  /* Navigation */
  nav .menu .links,
  nav .logo {
    display: none; /* hide navigation elements */
  }
  nav .truncated-menu,
  nav div {
    display: flex; /* show mobile menu */
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5em;
    margin: 0;
  }
  nav .truncated-menu li {
    width: 40px;
    height: auto;
  }
  nav img {
    margin: 0;
  }
  /* Banner */
  .main-banner .image {
    display: none;
  }
  .main-banner .text-container {
    width: 100%;
  }
  .main-banner .text {
    margin: 40px auto;
    width: 65%;
  }
  .main-banner .text a {
    font-size: 1.125em;
  }
  /* Information */
  .information .supporting {
    display: none;
  }
  .information .posts {
    padding-top: 0;
  }
  .information .posts,
  .information .post img {
    width: 100%;
  }
  .information .post img {
    height: 100%;
  }
  .information .post {
    display: block;
    padding: 24px;
  }
  .orientation-desktop,
  .campus-desktop,
  .lecture-desktop {
    display: none; /* hide desktop images */
  }
  .orientation-mobile,
  .campus-mobile,
  .lecture-mobile {
    display: block; /* show mobile images */
  }
  .information .post:nth-child(3n+0) {
    background: none; /* remove background color */
  }
  .information h3 {
    font-size: 1.5em;
  }
  .information p,
  .information a {
    font-size: 1em;
  }
  .information {
    margin-bottom: 32px;
  }
  /* Start learning */
  .courses {
    padding: 0 24px;
  }
  .course img,
  .course .text p {
    display: none;
  }
  .course {
    width: 100%;
  }
  .course .text {
    background-color: #d3d2d3;
    height: auto;
  }
  .course h3 {
    padding: 5px 0;
    font-size: 1.25em;
  }
  .learning {
    border-top: 1px solid #e1e3e3;
    border-bottom: 1px solid #e1e3e3;
    background: none;
    padding-bottom: 32px;
  }
  /* Thesis exhibit */
  .thesis .posts,
  .thesis .supporting .text {
    display: none; /* hide elements from mobile */
  }
  .thesis .supporting {
    width: 100%;
  }
  .exhibit {
    padding-bottom: 40px;
  }
  /* Footer */
  footer {
    border-top: none;
  }
  footer .links {
    display: none;
  }
  footer .copyright {
    font-size: 1em;
  }
}
